<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="DATABASE_URL" value="mysql://fund_user:fund_pass@mysql:3306/fund_transfer_test?serverVersion=8.0&amp;charset=utf8mb4"/>
        <env name="REDIS_URL" value="redis://redis:6379/1"/>
        <env name="API_KEYS" value="test-api-key"/>
        <env name="DEFAULT_CURRENCY" value="EUR"/>
        <env name="CORS_ALLOW_ORIGIN" value="*"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Infrastructure/Persistence/Doctrine/Entity</directory>
        </exclude>
    </source>
</phpunit>
